.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  margin-top: 147px;
  width: 100%;
}

.footer ul {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.footer p {
  max-width: 15rem;
  color: #ffffffcc;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}

.footer h5 {
  font-family: Roboto;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
}
.footer a {
  font-family: Roboto;
  color: #ffffffcc;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  text-decoration: none;
}

@media (max-width: 800px) {
  .footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 10rem;
    /* gap: 2rem; */
    padding: 50px 50px;
    /* flex-direction: column;
    justify-content: space-between;
    padding: 50px 100px;
    margin-top: 147px;
    width: 100%;
  } */
  }

  .footer > * {
    margin: 0 1rem;
  }
}
